# Ignore Vim/NeoVim swap files
*.swp
*.swo

# Ignore directories
docs/
latex/
tests/bin/

# Ignore object files
*.o
*.a
*.out
*.so
*.exe

# Ignore compiled executables
a.out
minishell

# Ignore Doxygen config file
Doxyfile

# VS Code settings
.vscode/
*.code-workspace

# .supp file for valgrind
*.supp
